// Font
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

// Colors
$bg-color: hsl(218, 23%, 16%);
$container-color: hsl(217, 19%, 24%);
$text-color: hsl(193, 38%, 86%);
$accent-color: hsl(150, 100%, 66%);

// Reset
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", "sans-serif";
  font-size: 62.5%;
}

// Helper classes
.grid {
  display: grid;
}

.flex {
  display: flex;
}

// Styling
.container {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: $bg-color;
}

.advice-card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 34rem;
  height: 100%;
  background-color: $container-color;
  border-radius: 1rem;
  padding-inline: 4rem;

  &__id {
    font-size: 1.1rem;
    color: $accent-color;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  &__advice {
    text-align: center;
    font-size: 2.4rem;
    color: $text-color;
    padding-bottom: 2.8rem;
  }

  &__divider {
    padding-bottom: 6rem;
  }

  &__dice {
    position: absolute;
    bottom: -28px;
    place-content: center;
    width: 6rem;
    height: 6rem;
    background-color: $accent-color;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 0.1s ease-in-out;

    &:hover {
      box-shadow: 0px 0px 30px 6px $accent-color;
    }
  }
}

.attribution {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 11px;
  color: #fff;

  a {
    color: hsl(228, 45%, 44%);
  }
}

@media screen and (min-width: 768px) {
  .advice-card {
    width: 36rem;
  }
}

@media screen and (min-width: 1024px) {
  .advice-card {
    width: 38rem;
  }
}

@media screen and (min-width: 1440px) {
  .advice-card {
    width: 40rem;
  }
}

@media screen and (min-width: 1920px) {
  .advice-card {
    width: 44rem;
  }
}
