// Colors
$dashboard-color: hsl(246, 80%, 60%);
$work-color: hsl(15, 100%, 70%);
$play-color: hsl(195, 74%, 62%);
$study-color: hsl(348, 100%, 68%);
$exercise-color: hsl(145, 58%, 55%);
$social-color: hsl(264, 64%, 52%);
$selfcare-color: hsl(43, 84%, 65%);

$bg-color: hsl(226, 43%, 10%);
$card-color: hsl(235, 46%, 20%);
$text-accent: hsl(235, 45%, 61%);
$text-color: hsl(236, 100%, 87%);
$white: hsl(0, 0%, 100%);
