// Colors
$bright-red: hsl(12, 88%, 59%);
$pale-red: hsl(13, 100%, 96%);
$dark-blue: hsl(228, 39%, 23%);
$very-dark-blue: hsl(233, 12%, 13%);
$dark-grayish-blue: hsl(227, 12%, 61%);
$light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 100%, 100%);

// Typography
$fs-100: 0.75rem;
$fs-200: 0.875rem;
$fs-300: 1rem;
$fs-400: 1.125rem;
$fs-500: 1.5rem;
$fs-600: 2rem;
$fs-700: 2.5rem;
$fs-800: 3.5rem;

$fw-light: 400;
$fw-regular: 500;
$fw-bold: 700;
