@mixin card($color, $image) {
  background-color: $color;
  width: 100%;
  height: 3rem;
  background-image: url(../images/#{$image});
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 25%;
  border-radius: 15px 15px 0 0;
}
