@use "variables";
@use "card";
@use "dashboard";

// General styling
body {
  display: grid;
  place-content: center;
  font-family: "Rubik", sans-serif;
  background-color: variables.$bg-color;
}

// Main styling
.main {
  max-width: 24rem;
  padding: 5em 1em;
  display: flex;
  flex-direction: column;
  gap: 1.6em;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .dashboard {
      width: 15rem;
    }
  }
}
