@use "_variables.scss";
@use "_mixins.scss";

// General styling
body {
  display: grid;
  place-items: center;
  font-family: "Rubik", sans-serif;
  background-color: $bg-color;
}

// Helper classes
.container {
  padding: 3rem 2rem;
}

.flex {
  display: flex;
}

// Main styling
.main {
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }

  .dashboard {
    grid-area: 1 / 1 / 3 / 2;
    background-color: transparent;

    &__container {
      background-color: $dashboard-color;
      border-radius: 14px;
    }

    img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      outline: 3px solid $white;
    }

    &__subtext {
      margin-top: 4rem;
      font-size: 1.4rem;
      font-weight: 500;
      color: $text-color;
    }

    &__username {
      margin-top: 0.5rem;
      width: 8ch;
      font-size: 3.8rem;
      font-weight: 300;
      color: $white;
      line-height: 1.3;
    }

    &__timeframe-wrapper {
      display: flex;
      flex-direction: column;
      font-size: 1.8rem;
      background-color: $card-color;
      border-radius: 0 0 14px 14px;

      a {
        text-decoration: none;
        color: $text-color;
        margin-bottom: 1.4rem;
      }
    }
  }

  .card {
    border-radius: 20px;
    padding: 1rem;

    &__icon-container {
      img {
        width: 3rem;
        height: 3rem;
      }
    }

    &__content {
      height: 100%;
      background-color: $card-color;
    }

    &__title-container {
      align-items: center;

      img {
        height: 0.4rem;
        width: 1.6rem;
      }
    }

    &__title {
      margin-right: auto;
      color: $white;
      font-size: 1.4rem;
      font-weight: 500;
    }

    &__timeframe-previous {
      color: $white;
      font-size: 1.4rem;
      color: $text-color;
    }

    &__timeframe-current {
      color: $white;
      font-size: 4rem;
      font-weight: 300;
    }
  }

  @mixin card($color, $image) {
    background-color: $color;
    width: 100%;
    height: 3rem;
    background-image: url(../images/#{$image});
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 25%;
  }

  .card--work {
    grid-area: 1 / 2 / 2 / 3;

    .card__icon-container--work {
      @include card($work-color, "icon-work.svg");
    }
  }
  .card--play {
    grid-area: 1 / 3 / 2 / 4;

    .card__icon-container--play {
      @include card($play-color, "icon-play.svg");
    }
  }
  .card--study {
    grid-area: 1 / 4 / 2 / 5;

    .card__icon-container--study {
      @include card($study-color, "icon-study.svg");
    }
  }
  .card--exercise {
    grid-area: 2 / 2 / 3 / 3;

    .card__icon-container--exercise {
      @include card($exercise-color, "icon-exercise.svg");
    }
  }
  .card--social {
    grid-area: 2 / 3 / 3 / 4;

    .card__icon-container--social {
      @include card($social-color, "icon-social.svg");
    }
  }
  .card--selfcare {
    grid-area: 2 / 4 / 3 / 5;

    .card__icon-container--selfcare {
      @include card($selfcare-color, "icon-self-care.svg");
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main {
    &__container {
      display: block;
    }
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
